body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row2 {
    display: flex;
    flex-direction: row;
}

.row1, .row3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ch-big {
    font-size: 30px;
}

#btn {
    width: 300px;
}
